// This file is the parent style-sheet imported by the app.
// It is best to define styles for standard html elements here.
@use "./reset.scss";
// @use "./primefaces.scss";
@use "./dynamic.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif
}

// Tailwind breakpoints
$sm:	 640px;	
$md: 	 768px;	
$lg:	1024px;
$xl:	1280px;
$xxl:	1536px;

// Theme colors
$bg-ancillary: #181818;
$bg-content: #bdbbbb; // input bg
$fg-font-5: #3a3a3a;
$fg-font-4: #636363;
$fg-font-3: #bdbbbb;
$fg-font-1: #f4f4f4;
$fg-border: #2B2B2B;
$bg-accent-neutral: #0078D4;
$bg-accent-hover: #0f65a7;
$bg-accent-active: #1c91eb;

$title-font: "Times", serif;




[style-theme="dark"] {
  --bg-ancillary: #181818;
  --bg-content: #1F1F1F;
  --fg-font-1: #f4f4f4;
  --fg-border: #2B2B2B;
}

// [style-theme="light"] {
//   --bg-ancillary: #c0bca2;
//   --bg-content: #fdfedb;
//   --fg-font: #121416;
//   --fg-border: orange;//#2B2B2B;
// }

#app {  
  @apply h-full;
}

html {
  @apply h-full;
  background-color: var(--bg-ancillary);
  color: var(--fg-font-1);
}

body {
  @apply h-full;
}

h1{
  font-family: $title-font;
}

input{
  padding:2px;
  width: 100%;  
  background-color: $bg-content;
}


.bordered{
  border: 1px $fg-border solid;
  outline: 1px $fg-border solid;
}

// TOOLBOX MENU

.drawer-title{
  @apply mb-2;
  font-variant: small-caps;
}
.toolbox-drawer-wrapper{
  @apply p-3 text-xs;  
  height: 100%;
  width: 100%;  
}

.drawer-link-list{
  a{
    @apply text-sm;
    color:#1c91eb;
  }
  a:hover{
    color:white;
  }
  a:active{
    color:yellow;
  }
}

// Ghost-button used for buttons with no border
.ghost-button{
  background-color: transparent;
  border: none;
  color:white;
  height:100%;
}
.ghost-button:hover{
  background-color: grey;
  opacity: 20%;
}
.ghost-button:active{
  background-color: grey;
  opacity: 50%;
}
  
// Flex-button used in the header's drawer toggle with logo
.flex-button{
  display: flex;
  height:100%;  
  width:100%;
  max-width:220px;
  font-size:xx-large;
  background-color: transparent;
  border: none;
  
  align-items:flex-end;
  // margin-left:.75em;

  border-radius: 50%;

}
.flex-button:hover{
  box-shadow:
    -14px -5px 5px rgb(65, 46, 0),
    14px 5px 5px goldenrod; 
  
}
.flex-button:active{
  box-shadow:
    -14px -5px 5px rgb(53, 14, 0),
    14px 5px 5px rgb(86, 23, 0),
}
